<form [formGroup]="loginForm">
    <div class="form-group">
        <label for="usuario">usuario:</label>
        <br>
        <input type="text" formControlName="emailid" placeholder="direccion de correo electronico">
    </div>
    <br>
    <div class="form-group">
        <label for="password">contraseña:</label>
        <br>
        <input type="password" formControlName="passwd">
    </div>
    <br>
    <div class="form-group">
        <button [disabled]="!loginForm.valid" name="btnLogin" (click)="inicar()">Iniciar sesion</button>
    </div>
</form>